@keyframes pulse-border-color {
  0% {
    border-color: rgba(194, 82, 1, 0.7); /* First color */
  }
  50% {
    border-color: rgba(244, 149, 90, 0.5); /* Second color */
  }
  100% {
    border-color: rgba(194, 82, 1, 0.7); /* First color */
  }
}

.ToolbarSprite {
  padding: 2px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
  .title {
    font-size: 10px;
    padding: 2px;
    background-color: var(--accent2);
    margin: 2px;
    border-radius: 2px;
  }
  .controls {
    button {
      font-size: 10px;
    }
  }
  &.active {
    animation: pulse-border-color 2s infinite;
    border: 1px solid #714d3a;
    border-radius: 10px;
  }
}
