.modal-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.Modal {
  user-select: none;

  z-index: 999;
  min-width: 400px;
  background-color: black;
  border: 1px solid gray;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .title {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: var(--accent2);
    padding: 5px 0px 5px 10px;
    border-radius: 9px 9px 0px 0px;
    line-height: 30px;
  }
  .body {
    margin-top: 30px;
    padding: 20px;
  }
  .close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }
}
